.body{
    margin: 0;
    padding:0
}
.background{
    height: 100vh;
    width: 100%;
    
}
.img{
    width: 100%;
    height: auto;
}

.content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /**background-color: blue;**/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    position: relative;
    height: 60px;
    width: 90%;
    /* background-color: rgba(128, 128, 128, 0.74);  */
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.headertext{
    font-size: 50px;

}

.boxes{
    height: 200vh;
    width: 95%;
   /* background-color: rgb(54, 196, 165); */

}

.row1 ,.row2{
    height: 50%;
    width: 98%;
    /**background-color: rgb(112, 79, 112);**/
    margin: 5px;
    display: flex;
}

.b11 , .b12,.b21,.b22{
    margin: 2%;
    width: 50%;
    height: 98%;
    background-color: rgba(128, 128, 128, 0.452);
    color: white;
}

.year1 , .year2, .year3 , .year4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 80px;
    width: 100%;
    background-color: grey;
}
.yeart{
    font-size: 40pxpx;
}

@media (max-width: 442px) {
    .headertext, .yeart {
        font-size: 25px;
    }
}
